@page "/"
@page "/view_1"

<div class="row-layout view-1-container">
    <div class="column-layout group">
        <IgbButton DisplayType="ButtonBaseType.Button" @onclick="@(e => _dialog!.ToggleAsync())" class="button button_2" view_1-scope>
            OPEN DIALOG
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" @onclick="@(e => _banner!.ToggleAsync())" class="button" view_1-scope>
            SHOW BANNER
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" DisplayType="ButtonBaseType.Button" @onclick="@(e => _snackbar!.ToggleAsync())" class="button" view_1-scope>
            SHOW SNACKBAR
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButtonGroup class="user-input" view_1-scope>
            <IgbToggleButton>
                Button
                <IgbRipple></IgbRipple>
            </IgbToggleButton>
            <IgbToggleButton>
                Button
                <IgbRipple></IgbRipple>
            </IgbToggleButton>
            <IgbToggleButton>
                Button
                <IgbRipple></IgbRipple>
            </IgbToggleButton>
        </IgbButtonGroup>
        <IgbChip class="chip" view_1-scope>
            <span slot="prefix">
                <span class="material-icons icon">
                    place
                </span>
            </span>
            Country
        </IgbChip>
        <IgbSwitch class="switch" view_1-scope>
            Label
        </IgbSwitch>
        <IgbSwitch @bind-Checked="@_checked" class="switch" view_1-scope>
            Label
        </IgbSwitch>
        <div class="row-layout group_1">
            <IgbIconButton Variant="IconButtonVariant.Flat">
                <span class="material-icons">
                    email
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" view_1-scope>
                <span class="material-icons icon_1">
                    email
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
        </div>
        <IgbTree class="tree" view_1-scope>
            <IgbTreeItem Label="Design" Expanded="true">
                <IgbTreeItem Label="Figma" Expanded="true"></IgbTreeItem>
                <IgbTreeItem Label="Adobe XD" Expanded="true"></IgbTreeItem>
                <IgbTreeItem Label="Sketch" Expanded="true"></IgbTreeItem>
            </IgbTreeItem>
            <IgbTreeItem Label="Development" Expanded="true">
                <IgbTreeItem Label="Angular" Expanded="true"></IgbTreeItem>
                <IgbTreeItem Label="Blazor" Expanded="true"></IgbTreeItem>
                <IgbTreeItem Label="Web components" Expanded="true"></IgbTreeItem>
            </IgbTreeItem>
        </IgbTree>
        <IgbBanner @ref="_banner" class="notification" view_1-scope>
            <p>
                Banner message
            </p>
            <igb-banner-actions>
                <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button" view_1-scope>
                    Button
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </igb-banner-actions>
            <span class="material-icons icon_2">
                mail
            </span>
        </IgbBanner>
    </div>
    <IgbDialog CloseOnOutsideClick="true" @ref="_dialog">
        <h5 slot="title">
            Confirmation
        </h5>
        <p class="typography__body-1 text">
            This is a simple custom dialog
        </p>
        <div slot="footer">
            <IgbButton DisplayType="ButtonBaseType.Button" class="button" view_1-scope>
                ADD PRODUCT
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button" view_1-scope>
                Cancel
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </IgbDialog>
    <div class="column-layout group_2">
        <IgbCard class="card" view_1-scope>
            <IgbCardMedia class="media-content" view_1-scope>
                <img src="assets/design%20system.png" class="image" />
            </IgbCardMedia>
            <IgbCardHeader>
                <h3 slot="title">
                    Title goes here...
                </h3>
                <h5 slot="subtitle">
                    Subtitle goes here...
                </h5>
            </IgbCardHeader>
            <IgbCardContent class="body-content" view_1-scope>
                <p class="typography__body-2 text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta nulla asperiores, officia ullam recusandae voluptatem omnis perferendis vitae non magni magnam praesentium placeat nemo quas repudiandae. Nisi, quo ex!
                </p>
            </IgbCardContent>
            <IgbCardActions class="actions-content" view_1-scope>
                <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" slot="start" class="button" view_1-scope>
                    Button
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        bookmark
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </IgbCardActions>
        </IgbCard>
        <IgbTabs class="tabs" view_1-scope>
            <IgbTab Selected="true">
                <span class="material-icons">
                    info
                </span>
                <span>Label</span>
            </IgbTab>
            <IgbTabPanel class="row-layout tab-item-content" view_1-scope></IgbTabPanel>
            <IgbTab>
                <span class="material-icons">
                    info
                </span>
                <span>Label</span>
            </IgbTab>
            <IgbTabPanel class="row-layout tab-item-content" view_1-scope></IgbTabPanel>
            <IgbTab>
                <span class="material-icons">
                    info
                </span>
                <span>Label</span>
            </IgbTab>
            <IgbTabPanel class="row-layout tab-item-content" view_1-scope></IgbTabPanel>
            <IgbTab>
                <span class="material-icons">
                    info
                </span>
                <span>Label</span>
            </IgbTab>
            <IgbTabPanel class="row-layout tab-item-content" view_1-scope></IgbTabPanel>
            <IgbTab>
                <span class="material-icons">
                    info
                </span>
                <span>Label</span>
            </IgbTab>
            <IgbTabPanel class="row-layout tab-item-content" view_1-scope></IgbTabPanel>
        </IgbTabs>
    </div>
    <div class="column-layout group_3">
        <IgbStepper TitlePosition="StepperTitlePosition.Bottom" @ref="_stepper" class="stepper" view_1-scope>
            <IgbStep Invalid="true">
                <div class="column-layout step-content">
                    <p class="typography__body-2 text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta nulla asperiores, officia ullam recusandae voluptatem omnis perferendis vitae non magni magnam praesentium placeat nemo quas repudiandae. Nisi, quo ex!
                    </p>
                    <div class="row-layout group_4">
                        <IgbButton DisplayType="ButtonBaseType.Button" @onclick="@(e => _stepper!.NextAsync())" class="button_1" view_1-scope>
                            Next
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                    </div>
                </div>
                <p slot="title">Address</p>
            </IgbStep>
            <IgbStep Invalid="true">
                <div class="column-layout step-content">
                    <p class="typography__body-1 text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta nulla asperiores, officia ullam recusandae voluptatem omnis perferendis vitae non magni magnam praesentium placeat nemo quas repudiandae. Nisi, quo ex!
                    </p>
                    <div class="row-layout group_4">
                        <IgbButton DisplayType="ButtonBaseType.Button" @onclick="@(e => _stepper!.PrevAsync())" class="button_1" view_1-scope>
                            Prev
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbButton DisplayType="ButtonBaseType.Button" @onclick="@(e => _stepper!.NextAsync())" class="button_1" view_1-scope>
                            Next
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                    </div>
                </div>
                <p slot="title">Item</p>
            </IgbStep>
            <IgbStep Optional="true">
                <div class="column-layout step-content">
                    <p class="typography__body-1 text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta nulla asperiores, officia ullam recusandae voluptatem omnis perferendis vitae non magni magnam praesentium placeat nemo quas repudiandae. Nisi, quo ex!
                    </p>
                    <div class="row-layout group_4">
                        <IgbButton DisplayType="ButtonBaseType.Button" @onclick="@(e => _stepper!.PrevAsync())" class="button_1" view_1-scope>
                            Prev
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbButton DisplayType="ButtonBaseType.Button" @onclick="@(e => _stepper!.ResetAsync())" class="button_1" view_1-scope>
                            Reset
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                    </div>
                </div>
                <p slot="title">Wrap</p>
                <p slot="subtitle">(Optional)</p>
            </IgbStep>
        </IgbStepper>
        <div class="column-layout group_5">
            <IgbSlider Min="0" Max="100" Step="10" DiscreteTrack="true" Value="@_value" Change="@(e => _value = e.Detail)" class="slider" view_1-scope></IgbSlider>
            <IgbSlider Min="0" Max="100" Step="10" DiscreteTrack="true" Value="@_value" Change="@(e => _value = e.Detail)" class="slider" view_1-scope></IgbSlider>
            <IgbSlider Min="0" Max="100" Step="10" DiscreteTrack="true" Value="@_value" Change="@(e => _value = e.Detail)" class="slider" view_1-scope></IgbSlider>
            <IgbSlider Min="0" Max="100" Step="10" DiscreteTrack="true" Value="@_value" Change="@(e => _value = e.Detail)" class="slider" view_1-scope></IgbSlider>
        </div>
        <IgbCalendar HideHeader="false" class="calendar" view_1-scope></IgbCalendar>
    </div>
    <div class="column-layout group">
        <IgbInput Label="Label" Outlined="true" class="user-input" view_1-scope></IgbInput>
        <IgbInput Label="Label" Outlined="false" class="user-input" view_1-scope></IgbInput>
        <IgbSelect Outlined="true" Label="First Select" class="user-input" view_1-scope>
            <IgbSelectItem Value="Option">
                Option
            </IgbSelectItem>
        </IgbSelect>
        <IgbSelect Outlined="true" Label="Copied and Pasted 1s Select" class="user-input" view_1-scope>
            <IgbSelectItem Value="Option">
                Option
            </IgbSelectItem>
        </IgbSelect>
        <IgbDatePicker Label="Date" Outlined="true" Mode="DatePickerMode.Dialog" class="date-picker" view_1-scope></IgbDatePicker>
        <IgbDatePicker Label="Date" Outlined="true" Mode="DatePickerMode.Dialog" class="date-picker" view_1-scope></IgbDatePicker>
        <IgbTextarea Label="Label/ NoPlaceholder" Outlined="true" class="user-input" view_1-scope></IgbTextarea>
        <IgbTextarea Placeholder="Placeholder / No Label" Outlined="true" class="user-input" view_1-scope></IgbTextarea>
        <IgbTextarea Label="Label" Placeholder="Placeholder" Outlined="true" class="user-input" view_1-scope></IgbTextarea>
    </div>
    <IgbSnackbar ActionText="Action" Action="@(e => _snackbar!.ToggleAsync())" @ref="_snackbar" class="notification" view_1-scope>
        This is a message
    </IgbSnackbar>
</div>

@code {
    private IgbDialog _dialog;
    private IgbBanner _banner;
    private IgbSnackbar _snackbar;
    private IgbStepper _stepper;
    private bool _checked = true;
    private double _value = 0;
}
